* { box-sizing:border-box; }
body {
	font-size: 16px;
}
header { 
	width: 100%;
	margin: 0 auto;
}
main { 
	margin: 1rem auto;
}
main div { 
	background-color: #c2d6d6;
	float: left;
	padding:2em;
	width: 50%;
	text-align: center;
}
#mainwrapper p {
	color: #fff;
	background-color: #c2d6d6;
	font-size: 1em;
	text-align: left;
	margin: auto;
	font-family: 'Lora', serif;
	padding: 2em;
}
#mainwrapper{ 
	max-width:1200px;
	margin: auto;
}
h1 {
	color: #757575;
	font-family: 'Didot', serif;
	margin: 1.125rem 0 1.5rem 0;
	font-size: 3em;
	text-align: center;
}
h1 span{
	color: #f9f1b5;
	font-weight: 400;
}
p { 
	line-height:1.2em; 
}
header nav { 
	color: #c2d6d6;
	padding: 1rem 0;
	margin: 0 auto;
}
header nav ul {
	list-style-type: none;
	width: 100%;
	text-align: center;
}
header nav ul li{
	font-size: 1em;
	text-align: center;
	width: 100px;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #fff;
}
nav a {
	text-decoration: none;
	color: #c2d6d6;
	font-family: 'Lora', serif;
	padding: 1rem;
}
nav a:hover{
	background-color: #c2d6d6;
	color: #fff;
}
#projectsmain div{
	width: 33.3%;
	background-color: #fff;
}
#projectsmain div img{
	width:90%;
}
#resume>img{
	width: 50%;
	margin: 5% 25%;
}
#resume {
	background-color: #e9eae5;
}
#mc {
	width: 15%;
	background-color: #fff;
	border-radius: 50%;
	margin: 2em; 
	margin-left: 43%;
}
#about{
	width: 45%;
	margin: auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
footer {
	background-color: #757575;
	color: #fff;
	width: 80%;
	text-align: left;
	margin: auto;
	padding: 2em;
}
@media only and (max-width: 768px) {

}	
