* {margin:0;padding:0;box-sizing:border-box;}
body{
	background-color: #f0f5f5;
	color: #c2d6d6;
	font-family: Helvetica, sans-serif;
	text-align: center;
}
img {
	width: 150px;
	border: 2px solid white;
	display: inline-block;
	margin: 20px;
}
