* {margin:0;padding:0;box-sizing:border-box;}

h1{ font-size: 30px;
}
body{
	background-color: #f0f5f5;
	color: #c2d6d6;
	font-family: "avant garde", sans-serif;
	text-align: center;
}
hr{
	color:#fff;
	width: 500px;
	height: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
img {
	width: 300px;
	display: inline-block;
	margin: 20px;
}
a {
	color:#c2d6d6;
}
