* {margin:0;padding:0;box-sizing:border-box;}

header { 
	background-color:#f5f5f5;
	padding: 50px;
}

body {
	background-color: #f5f5f5;
	color: #565a5c;
	font-family: helvetica, sans-serif;
	text-align: center;
}
img {
	width: 300px;
	display: inline-block;
	margin: 20px;
	border-radius:300px;
}
a {
	color:#c2d6d6;
	display: block;
	font-family: helvetica;
	font-size: 16px;
	font-weight: 650;
	text-decoration: none;
}

