* { box-sizing:border-box; }
body {
	font-size: 16px;
}
main { 
	margin: 1rem auto;
}
main div { 
	background-color: #c2d6d6;
	float: left;
	padding:2em;
	width: 50%;
	text-align: center;
}
header { 
	width: 100%;
	margin: 0 auto;
}
h1 {
	color: #757575;
	font-family: 'Didot', serif;
	margin: 1.125rem 0 1.5rem 0;
	font-size: 3em;
	text-align: center;
}
h1 span{
	color: #f9f1b5;
	font-weight: 400;
}
p { line-height:1.2em; }
header nav { 
	color: #c2d6d6;
	padding: 1rem 0;
	margin: 0 auto;
}
header nav ul {
	list-style-type: none;
	width: 100%;
	text-align: center;
}
header nav ul li{
	font-size: 1em;
	text-align: center;
	width: 100px;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #fff;
}
nav a {
	text-decoration: none;
	color: #c2d6d6;
	font-family: 'Lora', serif;
	padding: 1rem;
}
nav a:hover{
	background-color: #c2d6d6;
	color: #fff;
}
#mainwrapper{ 
	max-width:1200px;
	margin:auto;
}
#mainwrapper>img{
	background-repeat: no-repeat;
	width: 100%;
	margin: 0 17.5% 0 17.5%;
}
#mainwrapper p {
	color: #fff;
	background-color: #c2d6d6
	width: 80%;
	font-size: 1em;
	text-align: left;
	margin: auto;
	font-family: 'Lora', serif;
}
#projectmain>div{
	width: 33%;
}
#about>img { 
	width: 70%;
	border-radius: 50%;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
@media only and (max-width: 768px) {

}	
