#logo{
	width: 200px;
}
#salon { 
	width: 480px;
}	
#about{
	padding: 1em;
	margin: 0;
	border-box: 2px solid;
}

body {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

h2{
	font-size: 1em;
	color: gray;
	border-box: 1px solid gray;
	display: inline-block;
}
nav a {
	text-decoration: none;
	padding: .5em;
	color: #fff;
	background-color: #ee7c8e;
	margin: 1em ;
	display: inline-block;
	margin: 0;

}
p { 
	font-family: Helvetica;
	color: gray;
}

#book-here { 
	font-family: Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	color: gray;
}	
