* {margin:0;padding:0;box-sizing:border-box;}

header { 
	background-color:#f5f5f5;
	padding: 50px;
}

body {
	background-color: #f5f5f5;
	color: gray;
	font-family: 'oxygen', sans-serif;
	text-align: center;
}
img {
	width: 300px;
	margin: 20px;
	border-radius:250px;
}
a {
	color:#c2d6d6;
	text-align: center;
	margin: 1em;
	font-size: 16px;
	font-weight: 650;
	text-decoration: none;
}

